## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bathsheba,BB,13.2167,-59.5167,79.41,73,75,18.41,broken clouds
1,1,Arraial Do Cabo,BR,-22.9661,-42.0278,72.88,69,0,8.81,clear sky
2,2,Provideniya,RU,64.3833,-173.3000,32.36,86,100,25.01,snow
3,3,Saint George,US,37.1041,-113.5841,82.99,11,0,11.50,clear sky
4,4,Cabo San Lucas,MX,22.8909,-109.9124,87.62,52,100,9.15,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 75
What is your desired maximum temperature for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bathsheba,BB,13.2167,-59.5167,79.41,73,75,18.41,broken clouds
3,3,Saint George,US,37.1041,-113.5841,82.99,11,0,11.50,clear sky
4,4,Cabo San Lucas,MX,22.8909,-109.9124,87.62,52,100,9.15,overcast clouds
10,10,Samarai,PG,-10.6167,150.6667,81.97,80,100,10.58,overcast clouds
12,12,Kutum,SD,14.2000,24.6667,76.87,15,47,1.45,scattered clouds
16,16,Hithadhoo,MV,-0.6000,73.0833,82.98,75,34,9.78,scattered clouds
19,19,Bambous Virieux,MU,-20.3428,57.7575,79.05,89,75,1.14,light rain
22,22,Rikitea,PF,-23.1203,-134.9692,78.48,63,2,10.67,clear sky
26,26,Puerto Ayora,EC,-0.7393,-90.3518,75.16,95,100,8.43,light rain
27,27,Marawi,PH,7.9986,124.2928,77.36,76,100,2.53,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bathsheba,BB,13.2167,-59.5167,79.41,73,75,18.41,broken clouds
3,3,Saint George,US,37.1041,-113.5841,82.99,11,0,11.50,clear sky
4,4,Cabo San Lucas,MX,22.8909,-109.9124,87.62,52,100,9.15,overcast clouds
10,10,Samarai,PG,-10.6167,150.6667,81.97,80,100,10.58,overcast clouds
12,12,Kutum,SD,14.2000,24.6667,76.87,15,47,1.45,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
674,674,Chihuahua,MX,28.5000,-106.0000,78.94,7,100,13.53,overcast clouds
680,680,Panalingaan,PH,8.7842,117.4231,83.79,72,100,1.03,overcast clouds
693,693,San-Pedro,CI,4.7485,-6.6363,76.96,86,100,2.82,overcast clouds
696,696,Coahuayana,MX,18.7333,-103.6833,77.00,71,100,3.33,overcast clouds
702,702,Caravelas,BR,-17.7125,-39.2481,78.03,63,100,10.63,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bathsheba,BB,79.41,broken clouds,13.2167,-59.5167,
3,Saint George,US,82.99,clear sky,37.1041,-113.5841,
4,Cabo San Lucas,MX,87.62,overcast clouds,22.8909,-109.9124,
10,Samarai,PG,81.97,overcast clouds,-10.6167,150.6667,
12,Kutum,SD,76.87,scattered clouds,14.2000,24.6667,
16,Hithadhoo,MV,82.98,scattered clouds,-0.6000,73.0833,
19,Bambous Virieux,MU,79.05,light rain,-20.3428,57.7575,
22,Rikitea,PF,78.48,clear sky,-23.1203,-134.9692,
26,Puerto Ayora,EC,75.16,light rain,-0.7393,-90.3518,
27,Marawi,PH,77.36,overcast clouds,7.9986,124.2928,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bathsheba,BB,79.41,broken clouds,13.2167,-59.5167,Atlantis Hotel
3,Saint George,US,82.99,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
4,Cabo San Lucas,MX,87.62,overcast clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
10,Samarai,PG,81.97,overcast clouds,-10.6167,150.6667,Nuli Sapi
12,Kutum,SD,76.87,scattered clouds,14.2000,24.6667,Dibbo areaمنطقة دبو

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))